
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="@Url.Content("~/img/categories/the-great-gatsby.jpg")">
                        <h5><a href="#">Fiction</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="@Url.Content("~/img/categories/SapiensABriefHistoryofHumankind.jpg")" >
                        <h5><a href="#">Non-Fiction</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="@Url.Content("~/img/categories/the-power-of-habit.jpg")">
                        <h5><a href="#">Self-Help</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="@Url.Content("~/img/categories/TheBookThief.jpg")">
                        <h5><a href="#">Historical Fiction</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="@Url.Content("~/img/categories/Dune.jpg")">
                        <h5><a href="#">Science Fiction</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


